// // path
// $assets: "../../dist";
// $slick-font-path: $assets + "/fonts/slick/" !default;
// $slick-loader-path: $assets + "/img/" !default;

// // font
// $f-bit: 'Bitter', Gadget, sans-serif;
// $f-rubik: 'Rubik', 'times new roman', sans-serif;
// $f-lato: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// $f-helv: 'Helvetica', Arial, sans-serif;
// $f-helv-l: 'Helvetica Light', Arial, sans-serif;
// $f-helv-b: 'Helvetica Bold', Arial, sans-serif;
// $f-yakuza: 'Yakuza Lobster', "Comic Sans MS", cursive, sans-serif;

// // size
// $s-default: 22px;
// $grid-columns: 18 !default;
// $grid-gutter-width: 10px !default;
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1281px
// ) !default;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1200px
// ) !default;

// // color
$c-blue: #003366;
$c-green: #49E1A1;
$c-green-h:#38B882;
// $c-mine: #242424;
$c-white: #ffffff;
// $c-yellow: #EEB02C;

// // classes